body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .container {
    text-align: right;
    padding: 50px;
  }

  button{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Dark Mode */
  body.dark-mode {
    background-color: black;
    color: white;
  }
  